<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some project</title>
    </head>
    <body>
    {{> header}}
        <p>Te amo mucho mi bebe mipalo, muy pronto te dare besos </p>
    </body>
{{> footer}}
</html>